
.main-about {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
}


.name-chapter {
    font-size: 10px;
    cursor: default;
    /*float: left;*/
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 20px 15px 20px 0px;
    /*text-align: center;*/
}

.portfolio-chapter {
    /*padding: 20px 15px;*/
    font-size: 16px;
    padding-top: 14px;
    /*font-weight: bold;*/

}

div {
    /*background-color: rgba(255,0,0,0.1);*/

}

.main_font {
    font-size: 16px;
    line-height: 1.5;
}

a {
    color: #5CADAD;
    text-decoration: none;
    border-bottom: 1px solid;
    cursor: pointer;
}
a:hover {
    text-decoration: none;
}

.portfolio {
    margin-top: 20px;
    margin-bottom: 20px;
}

.portfolio_desript {
    padding-top: 15px;
    padding-bottom: 55px;
}


.portfolio-header{
    position: relative;
    width: 100%;
    height: 60px;
    margin-bottom: 30px;
    padding-top: 15px;
}

.portfolio-page-text{
    max-width: 700px;
    font-size: 16px;
    line-height: 22px;
}


.active_chapter {
    display: inline;
    padding-left: 30px;
    color: #555555;
}

.cv-comment {
    font-size: 12px;
    display: inline;
}
