body {
    background-color: #f2f2f2
}

.main-container {
    max-width: 1380px;
    padding-left: 2%;
    padding-right: 2%;
    /*margin: 0 4% 0;*/
    margin: auto;


}


.main_chapter h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 34px;
    letter-spacing: -0.4px;
    font-weight: 900;
    color: black;
    margin-top: -9px;
    margin-left: -2px;

}


.main_chapter h3{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 25px;
   color: #333;

}



.portfolio-chapter {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #333;
    padding-bottom: 10px;
    border-bottom: .0625rem solid rgba(0,0,0,.15);
}

.portfolio-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 25px;
    color: #333;
    margin-top: 10px;
}

a{
    color: #FD005E;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}


.main-about {
    margin-top: 60px;
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 10px;
}


.name-chapter {
    font-size: 10px;
    cursor: default;
    /*float: left;*/
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 20px 15px 20px 0px;
    /*text-align: center;*/
}










.portfolio-image {
    margin-bottom: 20px;
}











div {
    /*background-color: rgba(255,0,0,0.1);*/

}

.main_font {
    font-size: 16px;
    line-height: 1.5;
}

/*a {*/
    /*color: #0475FC;*/
    /*text-decoration: none;*/
    /*border-bottom: 1px solid;*/
    /*cursor: pointer;*/
/*}*/


.portfolio {
    margin-top: 20px;
    margin-bottom: 20px;
}

.portfolio_desript {
    padding-top: 15px;
    padding-bottom: 55px;
    font-size: 15px;
}


.portfolio-header{
    position: relative;
    width: 100%;
    height: 60px;
    margin-bottom: 30px;
    padding-top: 15px;
}

.portfolio-page-text{
    max-width: 700px;
    font-size: 16px;
    line-height: 22px;
}


.active_chapter {
    display: inline;
    padding-left: 30px;
    color: #555555;
}

.cv-comment {
    font-size: 12px;
    display: inline;
}


.container-770 {
    max-width: 770px;
}